Package: opendwarf-environment
Version: 1.0.0-1
Section: net
Priority: optional
Architecture: i386
Essential: no
Pre-Depends: debconf (>= 0.5) | debconf-2.0
Depends: atftpd, nfs-kernel-server, slapd (>= 2.4.7), python, python-ldap, dhcp3-server (>=3.1.0), gosa (>=2.6beta1-1), opendwarf-config, opendwarf-gosa-config, opendwarf-tftpboot, opendwarf-tse, opendwarf-tse-image, opendwarf-squashfs-bin 
Conflicts: squashfs-tools
Installed-Size: 6912
Maintainer: Stefan Nistelberger <scuq@abyle.org>
Description: Meta Package for opendwarf-environment.
