Package: opendwarf-config
Version: 1.0.0-1
Section: net
Priority: optional
Architecture: i386
Essential: no
Pre-Depends: debconf (>= 0.5) | debconf-2.0
Recommends: opendwarf-environment
Installed-Size: 20
Maintainer: Stefan Nistelberger <scuq@abyle.org>
Description: OpenDwarf configuration files.
             /etc/opendwarf
